body {
  font-family: sans-serif;
}

.time{
  display: flex;
  gap: 0.5rem;
}

.digit{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal{
  width: 10px;
  height: 2px;
  background-color: black;
}

.vertical{
  width: 2px;
  height: 10px;
  background-color: black;
}

.gap{
  display: flex;
  gap: 10px;
}
