
/************ Global CSS *******************/
::-webkit-scrollbar {
    width: 0.45rem;
    height: 0.45rem;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: #ebecec;
}

::-webkit-scrollbar-thumb {
    background: #464848;
    border-radius: 100vw;
}




/********************************************/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}
.body__search-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.body__search-box input{
    width: 50%;
    border: grey 2px solid;
    border-radius: 10px;
    padding: 1rem;
}

.body__results{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 1rem;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    max-height: 10rem;
    overflow: auto;
}

.body__results__result{
    cursor: pointer;
    width: 95%;
    padding: 0.5rem;
    border-radius: 5px;
}

.body__results__result div:hover{
    background-color: #cac8c8;
}
